body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
	padding: 0;
	margin: 0;
	}
fieldset, img { 
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul {
	list-style: none;
	}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
	}
q:before, q:after {
	content: '';
	}
abbr, acronym { 
	border: 0;
	}


	body{	/*this changes the background colour of the site*/
	background-color:#B6B6B6 ;
}

				/*CSS styling for links*/
a:link{	
	font-family:Verdana; color:#ffffff; text-decoration:none;
}
a:visited{	
	font-family:Verdana; color:#ffffff; text-decoration:none;
}
a:hover{
	font-family:Verdana; color:#b40c00; text-decoration:underline;
}
a:active{	
	font-family:Verdana; color:#e86600; text-decoration:none;
}


					/*CSS styling for divs on page*/
#wrapper{	
	width: 802px;
	min-height: 786px;
	margin: 0 auto;
}
#headerwrapper { 	
	width: 802px;  
		height:140px;
}
#menu{		
	font-family: Verdana,  Arial, Helvetica, sans-serif;
	height:35px;
	clear:both;
	padding-top: 10px;
	padding-bottom: 10px;
	width:802px;
	text-align:center;
	margin-left:50px;
}
#footer{	
	height:35px;
    border: 1px solid #b40c00;
	clear: both;
	text-align: center;
 	background-color: #F6F6F6;
	margin-top:30px;
	padding-bottom:5px;
	width: 800px;
	opacity:0.5;
} 
.footer{ 
	color: #e86600;
 }
#mainContent{	
	width:600px;
	float:left;
    border: 1px solid #b40c00;
	min-height: 500px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
	clear:both;
}
#mainContent2{	
	width:600px;
	float:left;
    border: 1px solid #b40c00;
	min-height: 1032px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
	clear:both;
}
#mainContent3{	
	width:600px;
	float:left;
    border: 1px solid #b40c00;
	min-height: 683px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
	clear:both;
}
#mainContent4{	
	width:600px;
	float:left;
    border: 1px solid #b40c00;
	min-height: 600px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
	clear:both;
}
#mainContent5{	
	width:600px;
	float:left;
    border: 1px solid #b40c00;
	min-height: 649px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
	clear:both;
}



#leftHeader{	
	width:395px;
	height:140px;
	float:left;
	border: 1px solid #b40c00;
}	
#leftHeader img{
width:100%;
height:100%;
}
#rightHeader{
	width: 395px;
	height: 140px;
	float: right;
	border: 1px solid #b40c00;
	text-align: right;
	background-color: #FFF;
	vertical-align: top;
}
#rightHeader img{
width:100%;
height:100%;
}

				/*CSS styling for sidebars*/
#sidebar{	
	width:190px;
	float:right;
    border: 1px solid #b40c00;
	min-height: 500px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
}
#sidebar2{	
	width:190px;
	float:right;
    border: 1px solid #b40c00;
	min-height: 1032px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
}
#sidebar3{	
	width:190px;
	float:right;
    border: 1px solid #b40c00;
	min-height: 600px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
}
#sidebar4{	
	width:190px;
	float:right;
    border: 1px solid #b40c00;
	min-height: 683px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px
}
#sidebar5{	
	width:190px;
	float:right;
    border: 1px solid #b40c00;
	min-height: 649px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
}

			/*CSS styling for images in main conent area*/
.TextWrap {		
	float: right;
    margin: 10px;
	padding-right:25px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:10px;
}

			/*CSS styling for heading levels and text*/
h1 {	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24pt ; 
	letter-spacing: -2px;
	color: #b40c00 ; 
	font-weight:bold; 
	text-decoration:underline; 	 
}
h2 {	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20pt ; 
 	color: #b40c00 ; 
	font-weight:bold;
	padding-right:10px
 }
h3 {	
	font: bold italic 16px Verdana, Arial, Helvetica, sans-serif;
 	color: #e86600 ; 
	font-weight:bold;
	padding-left:10px;
	animation:rubberBand;
 }
 h4 {	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13pt ;
 	color: #e86600 ; 
	font-weight:bold;
	padding-left:10px;
 }
 p { 	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12pt;  
	color: #000;
	padding-left:10px;
	padding-right:10px
 }
 .c1{	
	 font-weight:bold;
 }
 .c2{
	color:#b40c00;	
 }
 link.c2{
	color:#e86600;
 }
 			/*CSS styling for Images in the right column*/
 IMG.displayed { 	
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top:20px;
 }
 IMG.displayed2 { 	
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top:20px;
 }
 
 			/*CSS styling for all other images*/
 .image {	
	 padding:5px
 }
 .image1 {	
	 padding:5px;
	 width:360px;
	 height:260px;
 }

				/*CSS styling for the map*/
 #MyGmaps {	
	margin-left:460px;
	margin-top:-295px; 
	background-color:#F6F6F6;
	width:300px;
	height:270px;
	padding-right:20px;
	padding-left:10px;
 }
 
 			/*CSS styling for Contact form*/
 #contact {	
	background-color:#F6F6F6;
	margin-top:570px;
	border: 1px solid #b40c00;
	padding:10px 0 0 0;
	padding-left:10px;
	min-height:300px;
 }
 .fit td:nth-child(1) {
	animation-name: bounce; 
	animation-duration: 2s;
 }
 
 .contactTable{
	width:58%; 
 }
 .td {
	vertical-align:top; 
 }

 					/*Tablet Responsive*/
					
@media (min-width: 481px) and (max-width: 801px){ 
	body{	
	background-color: #B6B6B6;
}
#wrapper{	
	width: 100%;
	min-height: 786px;
	margin: 0 auto;
}
#headerwrapper { 	
	width: 100%;  
		height:140px;
}
#leftHeader{	
	width:48%;
	height:140px;
	float:left;
	border: 1px solid #b40c00;
}	
#rightHeader{	
	width: 48%;
	height: 140px;
	float: right;
	border: 1px solid #b40c00;
	text-align: right;
	background-color: #FFF;
	vertical-align: top;
}

#footer{	
	height:35px;
    border: 1px solid #b40c00;
	clear: both;
	text-align: center;
 	background-color: #F6F6F6;
	margin-top:25px;
	padding-bottom:5px;
	width: 100%;
}
#sidebar{	
	display:none;
	visibility:hidden;
}
#sidebar2{	
	display:none;
	visibility:hidden;
}
#sidebar3{	
	display:none;
	visibility:hidden;
}
#sidebar4{	
	display:none;
	visibility:hidden;
}
#sidebar5{	
	display:none;
	visibility:hidden;
}
#mainContent{	
	width:100%;
	float:left;
    border: 1px solid #b40c00;
	min-height: 500px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
}

#mainContent2{	
	width:100%;
	float:left;
    border: 1px solid #b40c00;
	min-height: 500px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
}

#mainContent3{	
	width:100%;
	float:left;
    border: 1px solid #b40c00;
	min-height: 500px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
}

#mainContent4{	
	width:100%;
	float:left;
    border: 1px solid #b40c00;
	min-height: 500px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
}

#mainContent5{	
	width:100%;
	float:left;
    border: 1px solid #b40c00;
	min-height: 500px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
}
.hiddenTD{
	display: none;
}
.TextWrap {		
	float: right;
    margin: 10px;
	padding-right:25px;
    padding-top:0px;
    padding-bottom: 5px;
    padding-left:10px;
	height:45%;
	width:45%;
}
IMG.displayed { 	
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top:20px;
	width:80%;
	height:20%
 }

IMG.displayed2 { 	
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top:20px;
	
 }
 .imagemap {
 display:none;
 visibility:hidden;
 }
 table.fit{
	width:90%;
	height:70%;
 }

 .td{
	width:50%;
	height:50%;
 }
 #designs{
	width:100%;
	height:70% 
 }
  #MyGmaps {	
	display:none;
	visibility:hidden
 }
 .image {	
	 padding:5px;
	 width:80%;
	 height:60%;
 }
 .table{
	width:58%; 
 }
 .image{
	height:116px;
	width:112px 
 }
  .image1 {	
	 padding:5px;
	 width:70%;
	 height:50%;
 }
 .footer{
	color: #e86600;
 }
 }
				 /*Mobile Responsive*/
				 
@media screen and (max-width: 481px){ 
html{

	width:100%;
}

body{	
	background-color: #B6B6B6;
}
#wrapper{	
	width: 100%;
	min-height: 786px;
	margin: 0 auto;
}
#headerwrapper { 	
	width: 100%;  
		height:140px;
}
#leftHeader{	
	width:48%;
	height:140px;
	float:left;
	border: 1px solid #b40c00;
}	
#rightHeader{	
	width: 48%;
	height: 140px;
	float: right;
	border: 1px solid #b40c00;
	text-align: right;
	background-color: #FFF;
	vertical-align: top;
}

#footer{	
	height:35px;
    border: 1px solid #b40c00;
	clear: both;
	text-align: center;
 	background-color: #F6F6F6;
	margin-top:25px;
	padding-bottom:5px;
	width: 100%;
	font-size:8px
}
#sidebar{	
	display:none;
	visibility:hidden;
}
#sidebar2{	
	display:none;
	visibility:hidden;
}
#sidebar3{	
	display:none;
	visibility:hidden;
}
#sidebar4{	
	display:none;
	visibility:hidden;
}
#sidebar5{	
	display:none;
	visibility:hidden;
}
#mainContent{	
	width:100%;
	float:left;
    border: 1px solid #b40c00;
	min-height: 500px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
}

#mainContent2{	
	width:100%;
	float:left;
    border: 1px solid #b40c00;
	min-height: 500px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
}

#mainContent3{	
	width:100%;
	float:left;
    border: 1px solid #b40c00;
	min-height: 500px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
}

#mainContent4{	
	width:100%;
	float:left;
    border: 1px solid #b40c00;
	min-height: 500px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
}

#mainContent5{	
	width:100%;
	float:left;
    border: 1px solid #b40c00;
	min-height: 500px;
	background-color: #F6F6F6;
	margin-bottom:10px;
	margin-top:-5px;
}

.TextWrap {		
	float: right;
    margin: 10px;
	padding-right:25px;
    padding-top:0px;
    padding-bottom: 5px;
    padding-left:10px;
	height:45%;
	width:45%;
}
IMG.displayed { 	
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top:20px;
	width:80%;
	height:20%
 }

IMG.displayed2 { 	
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top:20px;
 }
 .imagemap {
 display:none;
 visibility:hidden;
 }
 table.fit{
	width:90%;
	height:70%;
 }

 .hiddenTD{
	display: none;
 }
 
 #designs{
	width:100%;
	height:70% 
 }
  #MyGmaps {	
	display:none;
	visibility:hidden
 }
 .image {	
	 padding:5px;
	 width:80%;
	 height:60%;
 }
 .table{
	width:58%; 
 }
 .image{
	height:116px;
	width:112px 
 }
  .image1 {	
	 padding:5px;
	 width:70%;
	 height:50%;
 }
 .footer{
	font-size:12px;
	color: #e86600 ;
 }
 }